.brown{
    color: $brown
    
}
.pink{
    color: $pink
}
.greenClear{
    color: $greenClear
}
.purple{
    color: $purple
}
.green{
    color: $green
}
.orange{
    color: $orange
}
.red{
    color: $red
}

.bold {
    font-weight: bold;
}